#box1 {
  border: 5px solid #333399;
  padding: 25px;
}

#box2 {
  border: 5px solid #333399;
  padding: 25px;
}

#box3 {
  border: 5px solid #333399;
  padding: 25px;
}

#box4 {
  border: 5px solid #333399;
  padding: 25px;
}